<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container">
    <p class="tituloPrincipalDaPagina">Carrinho de Compras</p>

<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
    
<div class="row">
    <div class="col">
        <div class="botaoEnderecoCarrinho">
            <h5 >Endereço:</h5>
            <p>Rua Victório Santim, 3086.</p>
            <p>Torre C, Apartamento 502</p>
            <p>CEP: 08290-001</p>
            <p>Vila Carmosina</p>
            <p>São Paulo - SP</p>
            <a href="/alterarEndereco">
                <button type="button" class="btn btn-info">Alterar Endereço</button>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="botaoEnderecoCarrinho">
            <h5>Destinatário:</h5>
            <p>Eduardo de Santana Ferreira</p>
            <p>(11) 96313-7376</p>
            <p>edusf0@hotmail.com</p>
            
            <a href="/alterarDadosPessoais">
                <button type="button" class="btn btn-info">Alterar Dados Pessoais</button>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="botaoFinalizarPedidoCarrinho">
            <h5>Valores do Pedido</h5>
            <p>Valor dos produtos: <b>R$999,99</b></p>
            <p>Valor dos Frete: <b>R$99,99</b></p>
            <h5>Total: <b>R$99,99</b></h5>
            <a href="/pagamento">
                <button type="button" class="btn btn-success">Finalizar Pedido</button>
            </a>
        </div>
    </div>
</div>

</div>

<%- include('partials/footer'); -%>