<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container">
    <div class="row">
      <div id="tituloPrincipalCarrinho" class="col text-center">
        <p>Carrinho de Compras</p>
      </div>
    </div>

<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
    
<div class="botaoFinalizarPedidoCarrinho">
    <button type="button" class="btn btn-success ">Finalizar Pedido</button>
</div>


</div>

<%- include('partials/footer'); -%>