<%- include('partials/head'); -%>
<%- include('partials/header2'); -%>

<div class="container">
    <div class="row">
      <div id="tituloPrincipalCarrinho" class="col text-center">
        <p>Carrinho de Compras</p>
      </div>
    </div>

<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
<%- include('partials/produtoCarrinho'); -%>
    
<div class="botaoFinalizarPedidoCarrinho">
    <p>Valor dos produtos: <b>R$999,99</b></p>
    <p>Valor dos Frete: <b>R$99,99</b></p>
    <h5>Total: <b>R$99,99</b></h5>
    <a href="/pagamento">
        <button type="button" class="btn btn-success">Finalizar Pedido</button>
    </a>
</div>


</div>

<%- include('partials/footer'); -%>